/*----------------------------------------
    Products
------------------------------------------*/

/* ---- Product Card ----- */

.product {
	.card {
		.btn-price {
			width: 65px;
			height: 65px;
			font-weight: 600;
			font-size: 1.0rem;
			line-height: 65px;
			margin: 10px;
			position: absolute;
			top: 0;
			letter-spacing: 0;
		}	
	}	
}