{% extends 'base.html' %}
{% from "_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	Edit agrimodule
{% endblock %}

{% block content %}
<div class = "container">
    <h1>Edit Agrimodule</h1>

	<ul class="collapsible">
		<li>
			<div class="collapsible-header"><i class="fas fa-shoe-prints"></i>Instructions</div>
			<div class="collapsible-body"><span>
				<p>Which field you want to monitor with your agrimodule {{ agrimodule_to_edit.name }}</p>
			</span></div>
		</li>
	</ul>

	<form method="POST" action="{{ url_for('agrimodule_settings.edit_agrimodule', agrimodule_id = agrimodule_to_edit.id) }}">
		{{ form.csrf_token }}
		{{ render_field_with_errors(form.name) }}
		{{ render_field_with_errors(form.field_choices) }}
		<input type="submit" class="waves-effect waves-light btn" value="Edit agrimodule">
	</form>

	<br><br>
  	<a href= "{{ url_for('settings.index') }}" class="waves-effect waves-light btn"><i class="fas fa-angle-left left"></i>Cancel</a>
  	<br><br>

</div>
{% endblock %}
