{% extends 'base.html' %}
{% from "_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	New agrimodule
{% endblock %}

{% block content %}
<div class = "container">
    <h1>New agrimodule</h1>

	<ul class="collapsible">
		<li>
			<div class="collapsible-header"><i class="fas fa-shoe-prints"></i>Instructions</div>
			<div class="collapsible-body"><span>
				<p>1. Name your agrimodule system.</p>
				<p>2. Write your agrimodule's identifier</p>
				<p>3. Go install Agrimodule where we tell you.</p>
				<p>Optional: Which field will you be monitoring?</p>
			</span></div>
		</li>
	</ul>

    <form method="POST" action="{{ url_for('agrimodule_settings.new_agrimodule') }}">
		{{ form.csrf_token }}
		{{ render_field_with_errors(form.name, placeholder="Aquaponics Farm System") }}
		{{ render_field_with_errors(form.identifier, placeholder="AgMo27021986") }}
		{{ render_field_with_errors(form.field_choices) }}
		<input type="submit" class="waves-effect waves-light btn" value="Add Agrimodule">
	</form>

	<br><br>
	<a href= "{{ url_for('settings.index') }}" class="waves-effect waves-light btn"><i class="fas fa-angle-left left"></i>Cancel</a>
	<br><br>

</div>

{% endblock %}
