{% extends 'base.html' %}

{% block title %}
	Health analyzer
{% endblock %}

{% block user_health_analyzer_active %}
fh5co-active
{% endblock %}

{% block content %}
<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
	<div style="padding-left: 2%; text-align: left;">
    <h1>Health analyzer</h1>
  <div>
        <hr>
        <p>Farmer links</p>
        <ul>
          <li><a href="{{ url_for('main.index') }}" style="color:#16B6A5;">Home</a><br></li>
          <li><a href="{{ url_for('user_crop_planning') }}" style="color:#16B6A5;">Crop planning</a><br></li>
          <li><a href="{{ url_for('user_resources') }}" style="color:#16B6A5;">Resources</a><br></li>
          <li><a href="{{ url_for('user_crop_analyzer') }}" style="color:#16B6A5;">Crop analyzer</a><br></li>
          <li><a href="{{ url_for('user_health_analyzer') }}" style="color:#16B6A5;">Health analyzer</a><br></li>
        </ul>
  </div>
	<div>
        <hr>
        <p>General links</p>
        <ul>
          <li><a href="{{ url_for('main.index') }}" style="color:#16B6A5;">Home</a><br></li>
        </ul>
	</div>

</div>

{% endblock %}
