{% extends 'base.html' %}

{% block title %}
	Agrimodule
{% endblock %}

{% block links_in_head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
{% endblock links_in_head %}

{% block css_in_head %}
	<style type="text/css">
		h3{margin:0;}
		.bg_y{background-color: yellow;}
		.bg_b{background-color: blue;}
		.bg_gr{background-color: gray;}
		.bg_r{background-color: red;}
		.bg_g{background-color: green;}
		.bg_dgr{background-color: darkgray;}
		.bg_lgr{background-color: lightgray;}
		.centrado{text-align: center;}
		.margin-top{margin-top: 10px;}

	</style>
{% endblock css_in_head %}

{% block links_body %}
{% endblock links_body %}


{% block content %}
<nav class="container svgreen lighten-2">
	<div class="nav-wrapper">
		<div class="col s12">
			<a class="breadcrumb">{{ farm.farm_name }}</a>
			<a class="breadcrumb">{{ field.field_name }}</a>
			<a class="breadcrumb">{{ system_name }}</a>
			<a class="breadcrumb">{{ sensortype }}</a>
			<a class="breadcrumb">{{ sensor.identifier }}</a>
		</div>
	</div>
</nav>
<div class="row margin-tp padding-tp box z-depth-2">
	<!-- header -->
	<div class="row margin">
		<div class="col s12 m12">
			<div class="row">
				<div class="col s8 offset-s2 center">

				</div>
				<div class="col s1 offset-s1 right right-align">
					<a href="{{ url_for('main.index') }}">
						<i class="far fa-2x fa-window-close yellow"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<div class="section is-vcentered">
	<!-- WRAPPERS -->
		<!-- BODY -->
		<div class="columns is-centered is-vcentered box light-blue lighten-4">
			<div class="column is-12 has-text-centered">

				<!-- FIRST ROW -->
				<div class="columns">
					<!-- LEFT COLUMN -->
					<div class="column is-4 has-text-centered">
						<!-- TITLE -->
						<div class="columns is-vcentered is-centered is-marginless is-paddingless">

							<div class="column is-2 is-offset-2 has-text-centered is-paddingless">
								<h3 class="is-size-6">min</h3>
							</div>

							<div class="column is-4 has-text-centered is-paddingless">
								<h3 class="is-size-6">now</h3>
							</div>

							<div class="column is-2 has-text-centered is-paddingless">
								<h3 class="is-size-6">max</h3>
							</div>
						</div>


						<!-- RADIATION -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large has-text-warning is-marginless is-paddingless">
									<i class="fas fa-2x fa-sun"></i>
								</span>
							</div>
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">40</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.solar_radiation }} <sup>W/m<sup>2</sup></sup></p>
									</div>
									<div class="column is-2 has-text-centered is-paddingless" style="">
										<p class="is-size-5">840</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="">
										<progress class="progress is-warning progress-height z-depth-2" data-fa-transform="rotate-90" value="80" max="100">15%</progress>
									</div>
								</div>
							</div>
						</div>
						<!-- RADIATION -->

						<!-- TEMPERAURE -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large has-text-danger is-marginless is-paddingless">
									<i class="fas fa-2x fa-thermometer-empty"></i>
								</span>
							</div>
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless is-paddingless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._air_temp_min }}</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.air_temp }}<sup>°C</sup></p>
									</div>
									<div class="column is-2 has-text-centered is-paddingless" style="">
										<p class="is-size-5">{{ crop._air_temp_max }}</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="">
										<progress class="progress is-danger progress-height z-depth-2" data-fa-transform="rotate-90" value="70" max="100">15%</progress>
									</div>
								</div>
							</div>

						</div>

						<!-- HUMIDITY -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large has-text-info is-marginless is-paddingless">
									<i class="fas fa-2x fa-tint"></i>
								</span>
							</div>
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless is-paddingless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._air_humi_min }}</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.air_humi }}<sup>%</sup></p>
									</div>
									<div class="column is-2 has-text-centered is-paddingless" style="">
										<p class="is-size-5">{{ crop._air_humi_max }}</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="">
										<progress class="progress is-info progress-height z-depth-2" data-fa-transform="rotate-90" value="64" max="100">15%</progress>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- MIDDLE COLUMN -->
					<div class="column is-8 has-text-centered">
						<div class="columns">

							<!-- AGRIMODUELE SYSTEM -->
							<div class="column is-2 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-6 has-text-centered  is-marginless is-paddingless">
										<p class="is-size-6">{{ measurement.batt_status }} <sup>%</sup></p>
									</div>
									<div class="column is-6 has-text-centered  is-marginless is-paddingless">
										<span class="icon is-large has-text-success">
											<i class="fas fa-2x fa-battery-three-quarters"></i>
										</span>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered is-marginless" style="">
										<progress class="progress is-success progress-height z-depth-2" value="{{ measurement.batt_status }}" max="100">{{ measurement.batt_status }}%</progress>
									</div>
								</div>
							</div>

							<!-- WEATHER AND PLANTS -->
							<div class="column is-10">
								<!-- WEATHER forecast -->
								<div class="columns">
									<div class="column is-6">
										<span class="icon is-large has-text-info">
									    	<i class="fas fa-5x fa-cloud"></i>
									    </span>
									</div>
									<div class="column is-6">
										<p class="is-size-4">{{ measurement.air_pres }} mm</p>
										<p class="is-size-4">75 %</p>
									</div>
								</div>
								<!-- WEATHER FORECAST -->

								<br>

								<!-- PLANTS -->
								<div class="columns is-centered">
									<div class="column is-6 has-text-centered is-clipped">
										<figure class="image is-64x64">
											<img src="{{ crop.image }}">
										</figure>
									</div>
								</div>
								<!-- END PLANTS -->

							</div>
							<!-- WEATHER AND PLANTS -->

						</div>
					</div>
					<!-- END RIGHT COLUMN -->




				</div>
				<!-- END FIRST ROW -->

			</div>
		</div>
		<!--  -->




		<!-- SOIL LINE -->
		<!-- <hr> -->
		<!-- END SOIL LINE -->





		<!-- SOIL -->
		<div class="columns is-centered is-vcentered box orange lighten-3">
			<div class="column is-12 has-text-centered">

				<!-- ROW -->
				<div class="columns is-vcentered">
					<!-- PH AND EC -->
					<div class="column is-4 has-text-centered">
						<!-- TITLE -->
						<div class="columns is-vcentered is-centered is-marginless is-paddingless">
							<div class="column is-2 is-offset-2 has-text-centered is-paddingless">
								<h3 class="is-size-6">max</h3>
							</div>
							<div class="column is-4 has-text-centered is-paddingless">
								<h3 class="is-size-6">now</h3>
							</div>
							<div class="column is-2 has-text-centered is-paddingless">
								<h3 class="is-size-6">min</h3>
							</div>
						</div>

						<!-- SOIL TEMPERATURE -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large has-text-danger is-paddingless">
									<i class="fas fa-2x fa-thermometer-empty"></i>
								</span>
							</div>
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._soil_temp_min }}</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.soil_temp }}<sup>°C</sup></p>
									</div>
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._soil_temp_max }}</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="">
										<progress class="progress is-danger progress-height z-depth-2" data-fa-transform="rotate-90" value="65" max="100">15%</progress>
									</div>
								</div>
							</div>
						</div>

						<!-- SOIL HUMIDITY -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large has-text-info is is-marginless is-paddingless">
									<i class="fas fa-2x fa-tint"></i>
								</span>
							</div>
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._soil_humi_min }}</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.soil_humi }}<sup>%</sup></p>
									</div>
									<div class="column is-2 has-text-centered is-paddingless" style="">
										<p class="is-size-5">{{ crop._soil_humi_max }}</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="">
										<progress class="progress is-info progress-height z-depth-2" data-fa-transform="rotate-90" value="50" max="100">15%</progress>
									</div>
								</div>
							</div>
						</div>
						<!-- SOIL HUMIDITY -->
					</div>
					<!-- TEMP AND HUMIDITY -->



					<!-- pH and EC -->
					<div class="column is-4 is-offset-4 has-text-centered">
						<!-- TITLE -->
						<div class="columns is-vcentered is-marginless">
							<div class="column is-2 is-offset-1 has-text-centered is-paddingless">
								<h3 class="is-size-6">max</h3>
							</div>

							<div class="column is-4 has-text-centered is-paddingless">
								<h3 class="is-size-6">now</h3>
							</div>

							<div class="column is-2 has-text-centered is-paddingless">
								<h3 class="is-size-6">min</h3>
							</div>
						</div>

						<!-- PH -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless is-paddingless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._soil_ph_max }}</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.soil_ph }}<sup>pH</sup></p>
									</div>
									<div class="column is-2 has-text-centered" style="">
										<p class="is-size-5 is-paddingless">{{ crop._soil_ph_min }}</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="-webkit-transform: rotate(-180deg); transform: rotate(-180deg);">
										<progress class="progress is-primary progress-height z-depth-2" data-fa-transform="rotate-90" value="45" max="100">15%</progress>
									</div>
								</div>
							</div>
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large has-text-primary is-marginless is-paddingless">
									<i class="fas fa-2x fa-flask"></i>
								</span>
							</div>
						</div>
						<!-- PH -->

						<!-- EC -->
						<div class="columns is-vcentered is-marginless is-paddingless">
							<div class="column is-10 is-marginless">
								<!-- DATA -->
								<div class="columns is-centered is-vcentered is-marginless is-paddingless">
									<div class="column is-2 has-text-centered is-paddingless">
										<p class="is-size-5">{{ crop._soil_nutrient_max }}</p>
									</div>
									<div class="column is-6 has-text-centered is-paddingless">
										<p class="is-size-5">{{ measurement.soil_nutrient }}<sup>%</sup></p>
									</div>
									<div class="column is-2 has-text-centered is-paddingless" style="">
										<p class="is-size-5">{{ crop._soil_nutrient_min }}</p>
									</div>
								</div>
								<!-- BAR -->
								<div class="columns is-centered is-vcentered">
									<div class="column is-12 has-text-centered" style="-webkit-transform: rotate(-180deg); transform: rotate(-180deg);">
										<progress class="progress progress-height z-depth-2" data-fa-transform="rotate-90" value="40" max="100">15%</progress>
									</div>
								</div>
							</div>
							<!-- ICON -->
							<div class="column is-2 has-text-centered is-marginless">
								<span class="icon is-large is-paddingless is-paddingless">
									<i class="fas fa-2x fa-leaf"></i>
								</span>
							</div>
						</div>
						<!-- EC -->

					</div>
					<!-- PH UND EC -->
				</div>
				<!-- ROW -->
			</div>
		</div>
		<!-- SOIL -->
		<!-- BODY -->
	 <!-- WRAPPERS -->
	</div>
</div>

{{ measurement.timestamp }}<br>
{{ measurement.lat }}<br>
{{ measurement.lon }}
{% endblock %}
