{# all italic values must be replace. all of them are from a weather API minus the battery time which its calculated with agrimodule parameters #}

{% extends 'base.html' %}

{% block title %}
	Agrimodule
{% endblock %}

{% block content %}
<div id = "fh5co-main" class = "container" style = "margin-top: 5%;">
	<div style="padding-left: 2%; text-align: left;">
    <h1>Agrimodule</h1>
	<div>
        <hr>
        <p>General links</p>
        <ul>
          <li><a href="{{ url_for('main.index') }}" style="color:#16B6A5;">Home</a><br></li>
          <li><a href="{{ url_for('agripump_bp.show') }}" style="color:#16B6A5;">Agripump</a><br></li>
          <li><a href="{{ url_for('crop_status.show') }}" style="color:#16B6A5;">Crop status</a><br></li>
          <li><a href="{{ url_for('user_weather') }}" style="color:#16B6A5;">Weather</a><br></li>
        </ul>
	</div>

  <div>
        <hr>
        <p>Agrimodule conditions</p>
        <ul>
          <li>Time recorded: <span style="color: black;">{{ ag_measure.timestamp }}</span></li>
          <li>Battery status:<span style="color: black;"> {{ ag_measure.batt_status }} %</span></li>
          <li><i>Battery time:   1h 22m</i></li>
        </ul>
  </div>

  <div>
        <hr>
        <p>Weather / Air conditions</p>
        <ul>
          <li>Temperature</li>
          <li>now:   <span style="color: black;">{{ ag_measure.air_temp }} °C</span></li>
          <li><i>min:   18 °C</i></li>
          <li><i>max:   33 °C</i></li>
          <li>Relative humidity</li>
          <li>now:  <span style="color: black;"> {{ ag_measure.air_humi }} %RH</span></li>
          <li><i>min:   68 %RH</i></li>
          <li><i>max:   92 %RH</i></li>
          <li>Atmospheric pressure:  <span style="color: black;"> {{ ag_measure.air_pres }} kPa</span></li>
          <li>Radiation:             <span style="color: black;"> {{ ag_measure.solar_radiation }} W/m<sup>2</sup></span></li>
          <li><i>Weather icon:           "Icon"</i></li>
          <li><i>Weather description:    "Description"</i></li>
          <li><i>API Extra:              "Wind, clouds, Visibility"</i></li>
        </ul>
  </div>


   <div>
        <hr>
        <p>Soil conditions</p>
        <ul>
          <li>Temperature</li>
          <li>now:  <span style="color: black;"> {{ ag_measure.soil_temp }} °C</span></li>
          <li>min:  <span style="color: black;"> {{ crop._soil_temp_min }} °C</span></li>
          <li>max:  <span style="color: black;"> {{ crop._soil_temp_max }} °C</span></li>
          <li>Relative humidity</li>
          <li>now:  <span style="color: black;"> {{ ag_measure.soil_humi }} %RH</span></li>
          <li>min:  <span style="color: black;"> {{ crop._soil_humi_min }} %RH</span></li>
          <li>max:  <span style="color: black;"> {{ crop._soil_humi_max }} %RH</span></li>
          <li>pH</li>
          <li>now:  <span style="color: black;"> {{ ag_measure.soil_ph }}</span></li>
          <li>min:  <span style="color: black;"> {{ crop._soil_ph_min }}</span></li>
          <li>max:  <span style="color: black;"> {{ crop._soil_ph_max }}</span></li>
          <li>EC / Nutrients</li>
          <li>now:  <span style="color: black;"> {{ ag_measure.soil_nutrient }} %</span></li>
          <li>min:  <span style="color: black;"> {{ crop._soil_nutrient_min }} %</span></li>
          <li>max:  <span style="color: black;"> {{ crop._soil_nutrient_max }} %</span></li>
        </ul>
  </div>

</div>

{% endblock %}
