{% extends 'base.html' %}

{% block title %}
	Profile
{% endblock %}

{% block user_profile_active %}
active
{% endblock %}

{% block content %}
<div class = "container">
    <h1>Profile</h1>
	<div class="collection black-text">
		{# <a href="{{ url_for('main.index') }}" class="collection-item grey-text"Home
			<div class="secondary-content"><i class="fab fa-facebook-f"></i></div>
		</a> #}
		{# <a href="{{ url_for('user_weather') }}" class="collection-item grey-text">Weather
			<div class="secondary-content"><i class="fab fa-facebook-f"></i></div>
		</a> #}
	</div>

	<div class="collection black-text">
		<a href="{{ url_for('users.edit_profile') }}" class="collection-item grey-text">Edit profile
			<div class="secondary-content"><i class="fab fa-facebook-f"></i></div>
		</a>
	</div>

</div>
{% endblock %}
