{% extends 'base.html' %}
{% from "_renderfield.html" import render_field, render_field_with_errors %}

{% block title %}
	Farm Add Agrisys
{% endblock %}

{% block add_agrisys_active %}
	active
{% endblock %}

{% block content %}
<div class = "container">
    <h4>Add_agrisys</h4>
    <form method="POST" action="{{ url_for('welcome.add_agrisys') }}">
        {{ form.csrf_token }}
		{{ render_field_with_errors(form.agrimodule_name) }}
		{{ render_field_with_errors(form.agrimodule_identifier) }}
		<input type="submit" class="hoverable waves-effect waves-light btn" value="Add agrimodule!">
	</form>
	<br>
	<a href="{{ url_for('welcome.index') }}" class="amber darken-1 waves-effect waves-light btn btn-small"><i class="material-icons left">arrow_back</i>Back</a>
</div>
{% endblock %}
