{% extends 'base.html' %}

{% block title %}
	Set System
{% endblock %}

{% block welcome_set_sys_active %}
	active
{% endblock %}

{% block content %}
<div class = "container">
	<h1>Welcome set system</h1>
	<div>
        <hr>
        <h3>We will guide you through the installation of the agrimodule system in four steps.</h3>
        <ul>
          <!-- <li>1. Set the information of your farm. (Name, location, full area and cultivation process of your farm)</li> -->
          <li>1. Connect your application to your agrimodule smart system (Read a QR code)</li>
          <li>2. Install the agrimodule smart system in your farm (Agrimodule, agripump and agrisensor)</li>
          <li>3. Add the pump specs of your farm to your application (Brand, flow rate, head pressure and wattage)</li>
        </ul>
        <a href="{{ url_for('welcome.add_agrisys') }}" class="btn btn-primary">Start</a>
	</div>
</div>
{% endblock content %}
